body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
.page-wrapper {
  display: flex;
  justify-content: center;
}
#menu-object {
  flex: 0 1 467px;
}
#menu-object text#text14196 {
  cursor: pointer;
}
